.primary {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-height: 5000px;
  padding-bottom: 50px;
}

.main {
  flex-basis: 50%;
}

.image {
  height: 1000px;
}

.title {
  text-align: center;
}

.side {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  padding: 25px;
  /* background: darkblue; */
}

.side > * {
  justify-content: left; /* This aligns the children left within their grid cells */
}

/* Media query for iPhone screen size */
@media only screen and (max-width: 750px) {
  .main {
    flex-basis: 100%;
  }

  .side {
    flex-basis: 100%;
  }
}
